astropy==7.2.0
astroquery==0.4.11
Cartopy==0.24.1
matplotlib==3.11.0
numpy==2.5.0
pandas==3.0.3
PySide6==6.8.2.1
PySide6==6.11.1
PySide6_Addons==6.8.2.1
PySide6_Essentials==6.8.2.1
python-dotenv==1.2.2
Requests==2.34.2
scipy==1.18.0
skyfield==1.50
spiceypy==6.0.0
