# North positiv, decimal degrees (float)
LATITUDE = 0.0

# East positiv, decimal degrees (float)
LONGITUDE = 0.0

# Meter above seelevel (float)
ALTITUDE = 0.0

# local time zone (string)
LOCAL_TZ = Your_Time_Zone

# local IP adress of motor controller (string)
IP_ADRESS = 0.0.0.0

# Port of motor controller (int)
PORT = 0